service cloud.firestore {
  match /databases/{database}/documents {
    // Regel für Hauptdokument /votes/{voteId}
    match /votes/{voteId} {
      // Erlaube Lesezugriff für alle Nutzer
      allow read: if true;
      // Erlaube Schreibzugriff nur für Administratoren
      allow write: if request.auth != null;
      
      // Regel für Subcollection /choices/{choiceId}
      match /choices/{choiceId} {
        // Erlaube Lesezugriff nur für Administratoren
        allow read, delete, update: if request.auth != null;
        // Erlaube Schreibzugriff für alle Nutzer
      	allow create: if get(/databases/$(database)/documents/votes/$(voteId)).data.endTime > request.time && get(/databases/$(database)/documents/votes/$(voteId)).data.startTime < request.time && get(/databases/$(database)/documents/votes/$(voteId)).data.active == true;
      }
      
      // Regel für Subcollection /results/{resultId}
      match /results/{resultId} {
        // Erlaube Lesezugriff für alle Nutzer, wenn die Ergebnisse veröffentlicht sind, und immer für Administratoren
        allow read: if get(/databases/$(database)/documents/votes/$(voteId)).data.result == true || request.auth != null;
        // Erlaube Schreibzugriff nur für Administratoren
        allow write: if request.auth != null;
      }

      
      // Regel für Subcollection /options/{optionId}
      match /options/{optionId} {
        // Erlaube Lesezugriff für alle Nutzer
        allow read: if true;
        // Erlaube Schreibzugriff nur für Administratoren
        allow write: if request.auth != null;
      }
    }
    
    match /class/{classId} {
      // Erlaube Zugriff nur für Administratoren
    	allow read, write, delete, create: if request.auth != null
    }
  }
}
