/* Container und Grundlayout */
.submitted-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6bb90; /* Rot bleibt passend für Fehlermeldungen */
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.submitted-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  height: auto;
  transition: height 0.3s ease;
  max-width: 100%;
  box-sizing: border-box;
}

/* Nachrichtensektion */
.submitted-message {
  flex: 1;
  color: #1b4485; /* Hauptfarbe: Dunkelblau */
  text-align: left;
}

.submitted-details h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #1b4485; /* Hauptfarbe: Dunkelblau */
}

.submitted-message h2 {
  font-size: 2em;
  color: #1b4485;
  margin-bottom: 10px;
}

.submitted-message b {
  font-size: 1.5em;
  margin-bottom: 20px;
  display: block;
}

.submitted-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Button */
.submitted-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #1b4485; /* Akzentfarbe: Orange */
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.submitted-button:hover {
  background-color: #d87c1a; /* Dunkleres Orange für den Hover-Effekt */
}

/* Detailbereich */
.submitted-details {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.submitted-accordion summary {
  font-size: 1.2em;
  cursor: pointer;
  padding: 10px;
  /* background-color: #1b4485; Akzentfarbe: Orange */
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  color: #1b4485;
  user-select: none;
  transition: background-color 0.3s ease;
}

.submitted-stacktrace {
  background-color: #f8d7da; /* Passend zur Fehlermeldung */
  border: 1px solid #f5c6cb;
  padding: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 100%;
  overflow-x: auto;
  border-radius: 5px;
  animation: slide-down 0.5s ease;
  margin-bottom: 30px;
}

.submitted-image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  filter: blur(5px);
}

@keyframes slide-down {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .submitted-container {
    padding: 0px;
  }
  .submitted-content {
    flex-direction: column;
    margin: 0px;
    height: 100%;
  }
  .submitted-details {
    display: block;
  }
}
